<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index page</title>
</head>
<body>

<!--<form action="" th:action="@{/CandidateLoginResult}" method="post">

    <p style="color: red" th:text="${error}" th:if="${not #strings.isEmpty(error)}"></p>
    用户名<input type="text" name="CandidateId">
    密码<input type="password" name="CandiadatePassword">
    <input type="submit" value="确定">
</form>-->
<form enctype="multipart/form-data" method="post" action="/imageUpload">
    <!--<input type="hidden" id="edit_goods_sn" name="sn" value="${goods.sn}" />-->
    image<input type="file" id="edit_image" name="company_image"/>
    <input type="submit" value="upload"/> </form>



<!--<div> <span style="font-size: 45px;margin-top:-40px;color: black;">ML招聘</span></div>-->

<!--<h3>公司全称 </h3>-->
<!--<input type="text" placeholder="请输入公司全称" value="" name="allname" id="allname" class="valid">-->

<!--<h3>公司LOGO</h3>-->
<!--上传公司Logo<input type="file" id="companyLogo" name="companyLogo" alt="上传Logo图片"/>-->

<!--<h3>公司的营业执照证明</h3>-->
<!--上传营业执照证明<input type="file" id="companyLicense" name="companyLicense" alt="上传营业执照证明"/>-->

<!--<h3>公司介绍</h3>-->
<!--<div>-->
    <!--<textarea placeholder="请分段详细描述公司简介、企业文化等" name="companyProfile" id="companyProfile"></textarea>-->
<!--</div>-->

<form id="CompanyInformationForm" enctype="multipart/form-data" method="post" action="/CompanyInformation">
</body>
</html>
